/* Import */
/* Variables */
/* Extends */
.tiendaBackground, .galeriaBackground, .musicaFondo, .fechasBackground, .containerOk, .containerYouNever, .containerEarth, .container-netflix, .containerAnima, .fotoPortada {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

/* Fuentes */
@font-face {
  font-family: "radiofont";
  src: url("../fuente/bdplakatt.woff") format("Woff");
}
/* Reset */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* Texto / Color */
body {
  background-color: #0e0d0d;
}

.fondo-transparente {
  background-color: rgba(0, 0, 0, 0.45);
  margin: 30px;
  padding: 15px;
}

.tituloSeccion {
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  color: #f0f8ff;
  font-family: "radiofont";
  font-size: 8.5vw;
  padding: 2em;
}
.tituloSeccion:hover {
  background-clip: text;
  background: linear-gradient(to right, #000000 20%, #f0f8ff 50%, #d90368 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 2s;
}

.filtroLista a {
  font-size: 35px !important;
  padding: 0 10px;
}

h2 {
  font-size: 45px;
  color: #f0f8ff;
  font-family: "radiofont";
  text-align: center;
  margin: 25px auto;
  width: 100%;
}
h2:hover {
  color: #d90368;
  transition: all 0.5s;
}

h3 {
  font-size: 16px;
  color: #f0f8ff;
  font-family: "Didact Gothic", sans-serif;
  margin: 15px 0px;
  text-align: center;
}

hr {
  color: #d90368;
  margin: 10px 30px;
}

/* Menu */
.menuContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  z-index: 5;
}
.menuContainer li {
  display: inline-block;
}
.menuContainer li a:hover {
  background-color: #f0f8ff;
  color: #000000 !important;
  transition: all 0.5s ease;
}
.menuContainer a {
  font-family: "radiofont";
  font-size: 26px;
  padding: 5px;
  text-decoration: none;
  text-transform: uppercase;
  color: #f0f8ff !important;
}

.seccionActual {
  background-color: #d90368;
  color: #f0f8ff !important;
}

.logo {
  margin: 5px 5px;
  position: fixed;
  left: 25px;
  top: 0;
  z-index: 1;
}
.logo:hover {
  transform: rotate(720deg) scale(1.1);
  transition: all 0.5s ease;
}

.logo-start img {
  height: 60px;
  width: 65px;
  background-color: none;
}

/* Inicio */
.tituloInicio {
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  color: #f0f8ff;
  font-family: "radiofont";
  font-size: 12.5vw;
  padding: 1.5em;
  opacity: 0;
}
.tituloInicio:hover {
  transform: scale(1);
  transition: all 2s ease;
  opacity: 1;
}

.fotoPortada {
  background-image: url("../img/principal/portada-inicio.jpg");
}

.cardInicio {
  width: 95%;
  margin: 40px auto;
}
.cardInicio:hover {
  border: 1px solid #d90368;
  transition: all 0.2s ease;
}

.card-img-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-img-overlay p {
  font-family: "Didact Gothic", sans-serif;
  background-color: rgba(0, 0, 0, 0.45);
  padding: 15px;
  text-decoration: none;
  color: #f0f8ff;
}
.card-img-overlay p:hover {
  background-color: #000000;
  color: #d90368;
  transform: scale(1.04);
  transition: all 0.5s ease;
}

.containerAnima {
  background-image: url("../img/principal/anima-thom.jpg");
  padding: 1.5em;
  margin: 50px 30px;
}

.container-netflix {
  background-image: url("../img/principal/anima-film.jpg");
  padding: 1.5em;
  margin: 50px 30px;
}

.videoanima {
  width: 560px;
  height: 315px;
  margin: 112px 0px;
}

.containerEarth {
  background-image: url("../img/principal/earth-ed.jpg");
  padding: 1.5em;
  margin: 50px 30px;
}

.containerYouNever {
  background-image: url("../img/principal/younever-jonny.jpg");
  padding: 1.5em;
  margin: 50px 30px;
}

.containerOk {
  background-image: url("../img/principal/ok-computer.jpg");
  padding: 1.5em;
  margin: 50px 30px;
}

.animaTexto {
  color: #f0f8ff;
  font-family: "Didact Gothic", sans-serif;
  font-size: 20px;
  align-self: center;
  background-color: rgba(0, 0, 0, 0.45);
  padding: 15px 15px;
}

.animaFondo {
  transition: all 0.3s ease;
  width: 350px;
  height: 350px;
  margin: 100px 0;
}
.animaFondo:hover {
  box-shadow: 1px 1px 7px 1px #f0f8ff;
  transition: all 0.3s ease;
}

.enlaces a img {
  padding: 3px;
  width: 35%;
  height: 35%;
}

/* Fechas */
.fechasBackground {
  background-image: url("../img/principal/tour.png");
  border-bottom: 3px solid #d90368;
}

.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
}

.card-tour {
  font-family: "Didact Gothic", sans-serif;
  text-align: center;
  margin: 5px;
}
.card-tour h5 {
  font-family: "radiofont";
  text-align: center;
  font-size: 40px;
  color: #d90368;
  letter-spacing: 1px;
}
.card-tour p {
  font-family: "Didact Gothic", sans-serif;
}

.card-link {
  color: #f0f8ff;
  text-decoration: none;
}
.card-link:hover {
  background-color: #f0f8ff !important;
  color: #000000 !important;
  padding: 5px;
}

.card-img-top {
  width: 190px;
  height: 280px;
}
.card-img-top:hover {
  box-shadow: 1px 1px 25px 1px #d90368;
  transition: all 0.2s ease;
}

.list-group-item:hover {
  transition: all 0.2s ease;
  background-color: #d90368 !important;
  color: #000000 !important;
}

/* Musica */
.musicaFondo {
  background-image: url("../img/principal/musica.jpg");
  border-bottom: 3px solid #d90368;
}

.musicaContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.videoContainer iframe {
  width: 100%;
  height: 250px;
}

.div-imagen {
  position: relative;
}
.div-imagen img {
  width: 290px;
  height: 290px;
  margin: 5px 5px;
}
.div-imagen div ol {
  font-size: 14px;
  font-family: sans-serif;
  text-align: center !important;
  color: #f0f8ff;
  margin: 5px;
  z-index: -1;
  position: absolute;
  flex-direction: column;
}

.desvanecer:hover {
  transform: scale(1.1);
  transition: all 0.5s;
  opacity: 0.1;
}

.modal {
  transition: all 1s;
}

.modal-fondo {
  background-color: #000000 !important;
  border: 3px solid #d90368;
}

.modal-title {
  font-size: 20px;
  font-family: "Didact Gothic", sans-serif !important;
  color: #f0f8ff !important;
  text-align: center !important;
}

.logo-spotify {
  background-color: #d90368;
  border: 2px solid #d90368 !important;
  width: 25% !important;
  height: 25% !important;
  cursor: pointer;
  border-radius: 5px !important;
}
.logo-spotify:hover {
  background-color: #d90368;
  border: 2px solid #000000 !important;
  transition: all 0.2s ease;
}

/* Galeria */
.galeriaBackground {
  background-image: url("../img/principal/galeria.jpg");
  border-bottom: 3px solid #d90368;
}

.galeriaContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.galeriaContainer img {
  margin: 5px;
  width: 300px;
  height: 450px;
}

.imageGaleria {
  filter: grayscale(100%);
}
.imageGaleria:hover {
  transition: all 0.5s;
  filter: grayscale(0);
}

/* Tienda */
.tiendaBackground {
  background-image: url("../img/principal/store.png");
  border-bottom: 3px solid #d90368;
}

.ropaContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.ropaContainer img {
  width: 225px;
  height: 225px;
}
.ropaContainer img:hover {
  border: 3px solid #d90368;
  background-color: #d90368;
  border-radius: 75%;
  transform: scale(1.1);
  transition: all 0.2s;
}

.albumContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.albumContainer img {
  width: 225px;
  height: 225px;
}
.albumContainer img:hover {
  box-shadow: 1px 1px 25px 1px #d90368;
  transition: all 0.2s;
}

.item-tienda {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px 0;
}
.item-tienda p {
  font-size: 15px;
  padding: 5px 0px;
  color: #f0f8ff;
  font-family: "Didact Gothic", sans-serif;
}

.boton {
  border: 1px solid #d90368;
  border-radius: 5px;
  background-color: #d90368;
  padding: 8px;
  color: #f0f8ff;
  font-family: "Didact Gothic", sans-serif;
  font-size: 13px;
}
.boton:hover {
  border: 1px solid #d90368;
  background: radial-gradient(circle, #d90368 0%, #000000 100%);
  color: #f0f8ff;
}

/* Contacto */
.contacto {
  padding: 50px 20px;
}

.suscribirse .box,
.boton-sus {
  border: 1px solid #d90368;
  background-color: #000000;
  color: #f0f8ff;
  padding: 10px;
}

.boton-sus:hover {
  color: #000000;
  background-color: #f0f8ff;
  transition: all 0.5s;
}

form button {
  margin: 10px auto !important;
}

.redes {
  margin: 10px 0;
}
.redes i {
  color: #d90368;
  margin: 0 15px;
}
.redes i:hover {
  color: #f0f8ff;
  transition: all 0.2s;
  cursor: pointer;
}

/* Filtros */
.filtroLista {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filtroLista li {
  display: inline-block;
  margin: 30px 5px;
}
.filtroLista a {
  font-size: 40px;
  color: #f0f8ff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "radiofont";
  display: inline-block;
}
.filtroLista a:hover {
  color: #000000;
  background-color: #f0f8ff;
  transition: all 0.5s ease;
}

/* Media Queries*/
/*== 1200px ==*/
@media only screen and (max-width: 1200px) {
  .tituloInicio {
    font-size: 20vw;
    background-clip: text;
    background: linear-gradient(to right, #000000 16%, #f0f8ff 50%, #d90368 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
  }

  .tituloSeccion {
    font-size: 14vw;
    background-clip: text;
    background: linear-gradient(to right, #000000 20%, #f0f8ff 50%, #d90368 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h2 {
    color: #d90368;
    font-size: 40px;
  }

  .filtroLista a {
    font-size: 25px !important;
  }
}
/*== 991px ==*/
@media only screen and (max-width: 991px) {
  .navbar-collapse a {
    background-color: rgba(0, 0, 0, 0.45) !important;
  }

  .navbar-collapse li a:hover {
    background-color: #d90368 !important;
    color: #000000 !important;
    transition: all 0.5s ease;
  }

  .navbar-toggler {
    background-color: #000000;
  }

  .navbar-toggler:hover {
    color: #d90368 !important;
    transform: scale(1.1);
    transition: all 0.3s ease;
  }
}
/*== 768px ==*/
@media only screen and (max-width: 768px) {
  .containerAnima img,
.containerEarth img,
.containerYouNever img,
.containerOk img {
    display: block;
    margin: -10px auto;
    height: 100%;
    width: 95%;
  }

  .container-netflix iframe {
    width: 100%;
    height: 235px;
    margin: 0 auto;
  }

  .enlaces {
    margin: 0 auto;
    height: 100%;
    width: 80%;
  }
}
/*== 768px ==*/
@media only screen and (max-width: 768px) {
  .fotoPortada,
.fechasBackground,
.musicaFondo,
.galeriaBackground,
.tiendaBackground {
    background-image: url("../img/principal/celu.jpg");
  }

  .filtroLista li {
    list-style-type: none;
    text-align: center !important;
    display: block;
    justify-content: center !important;
    flex-direction: column;
  }
}
/*== 480px ==*/
@media only screen and (max-width: 480px) {
  footer .redes {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
  }
  footer .redes i {
    margin: 15px 0;
  }
  footer .suscribirse button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    margin: 10px 0;
    margin-left: 25%;
  }
}
@media only screen and (max-width: 480px) {
  .card-img-overlay {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .card-img-overlay p {
    font-size: 15px !important;
    padding: 0;
    margin: 0;
  }
}
@media only screen and (max-width: 480px) {
  .item-tienda img {
    width: 100%;
    height: 290px;
  }
}
/* Mixin */
/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
