/* Contacto */

.contacto {
  padding: 50px 20px;
}

.suscribirse .box,
.boton-sus {
  border: 1px solid $color-texto2;
  background-color: $color-texto3;
  color: $color-texto1;
  padding: 10px;
}
.boton-sus:hover {
  color: $color-texto3;
  background-color: $color-texto1;
  transition: all 0.5s;
}

form button {
  margin: 10px auto !important;
}

.redes {
  margin: 10px 0;
  i {
    color: $color-texto2;
    margin: 0 15px;
    &:hover {
      color: $color-texto1;
      transition: all 0.2s;
      cursor: pointer;
    }
  }
}
