/* Contacto */

.redes {
	padding: 50px 20px;
}
.suscribirse {
	display: flex;
	justify-content: center;
	align-items: center;
}
.contacto {
	color: $color-texto2 !important;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	margin: 15px 0;
	i { margin: 0 15px;
		&:hover {
			color: $color-texto1;
			transition: all 0.2s;
		}
	}
}
.boton {
	border: 1px solid $color-texto2;
	background-color: $color-texto3;
	padding: 10px;
	color: $color-texto1;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 15;
	&:hover {
		background-color: $color-texto1;
		transition: all 0.5s ease;
		color: $color-texto3;
		border: 1px solid $color-texto2;
	}
}
.box {
	padding: 10px;
	border: 1px solid $color-texto2;
	background-color: $color-fondo;
	color: $color-texto1;
}