/* Musica */

.musicaFondo {
	background-image: url(https://cdn.dribbble.com/users/706421/screenshots/6714785/thomyorke_anima.gif);
	@extend %fondo-img;
	border-bottom: 3px solid $color-texto2;
}
.musicaContainer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.div-imagen {
	position: relative;
	img {
		width: 290px;
		height: 290px;
		margin: 5px 5px;
	}
	div {
		ol {
			position: absolute;
			color: $color-texto1;
			z-index: -1;
			margin: 25px;
			font-size: 13px;
			font-family: 'Didact Gothic', sans-serif;
			flex-direction: column;
		}
		p {
			position: absolute;
			margin-left: 100px;
			color: $color-texto1;
			z-index: -1;
			font-size: 15px;
			font-family: 'Didact Gothic', sans-serif;
		}
	}
}
.desvanecer {
	&:hover {
		transition: all 0.2s ease;
		opacity: 0;
	}
}

.boton-musica {
	font-size:20px;
	margin: 10px;
	padding: 0 20px;
    color: $color-texto1;
    border: 2px solid $color-texto1;
    border-radius: 5px;
}

.boton-musica:hover {
	color: $color-texto2;
    background-color: $color-texto1;
    border: 2px solid $color-texto2;
    border-radius: 5px;
    transition: all 0.5s ease;
}
