/* Texto / Color */

body {
  background-color: $color-fondo;
}

.fondo-transparente {
  background-color: $fondo-transparente;
  margin: 30px;
  padding: 15px;
}

.tituloSeccion {
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  color: $color-texto1;
  font-family: "radiofont";
  font-size: 8.5vw;
  padding: 2em;
  &:hover {
    background-clip: text;
    background: linear-gradient(
      to right,
      $color-texto3 20%,
      $color-texto1 50%,
      $color-texto2 75%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 02s;
  }
}

h2 {
  font-size: 45px;
  color: $color-texto1;
  font-family: "radiofont";
  text-align: center;
  margin: 25px 0;
  width: 100%;
  &:hover{
    color: $color-texto2;
    transition: all 0.5s;
  }
}

h3 {
  font-size: 16px;
  color: $color-texto1;
  font-family: "Didact Gothic", sans-serif;
  margin: 15px 0px;
  text-align: center;
}

hr {
  color: $color-texto2;
  margin: 10px 30px;
}
